.fondoPagna{
    width: 100%;
    height: 550px;
    background-image: url(./fondo.jpg);
    background-size: cover;
    background-size: center;
}


.listpru{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.para{
    font-size: 50px;
    font-weight: 900;
}
.list{
    list-style: none;
    text-align: center;
    color: white;
    cursor: pointer;
}
.esto-grande{
    font-size: 20px;
}



.descripcion{
    font-weight: 900;
    color: white;
    margin-left: 20px;
}
.padre-a{
    
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 45px;
}
.pp{
    margin-bottom: 25px;
    font-size: 27px;
    margin-left: 5px;
}

.hacercaDeNosotros{
    position:static;
}

.ultimo-scrolld{
    display: flex;
    flex-direction: row;
    gap: 14px;
    border-bottom: solid 40px white;
    background-color: white;
    letter-spacing:5px;
    width: 100%;
    overflow-x: auto;
}

.ult{
    width: 450px;
    height: 500px;
}
.gire1{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire2{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire3{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire4{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire5{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire6{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire7{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire8{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire9{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.gire10{
    background-image: url(./casaejemplo.webp);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.giregarcia{
    border-radius: 20px;
    width: 110px;
    height: 40px;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: solid transparent;
    margin-top: 380px;
    margin-left: 40px;
}
.containerFotosDentroEscroll{
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-left: 40px;
    border-bottom: solid 40px white;
}

img{
    width: 100%;
}
.cardd{
    width: 100%;
    height: 450px;
}
.transform{
    transform: scale(1.0);
    transition: 1s;
}
.transform:hover{
    transform: scale(1.1);
    transition: 1s;
}

.cardIsquierda{
    width: 100%;
    height: 350px;
    border: red 5px solid;
}

.transRight{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.transRight:hover{
    transform: translatex(20px);
        -webkit-transform: translatex(20px);
        -moz-transform: translatex(20px);
}
.float-fluid{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.float-fluid:hover{
    transform: translate3d(12px, 50%, 3em);
        -webkit-transform: translate3d(12px, 50%, 3em);
        -moz-transform: translate3d(12px, 50%, 3em);
    box-shadow: 0 5px 5px 0 #000000,0 8px 8px 0 #000000;
}

.transLeft{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.transLeft:hover{
    transform: translatex(-20px);
        -webkit-transform: translatex(-20px);
        -moz-transform: translatex(-20px);
}